.center h2{
    text-align: center;
    font-size: 36px;
    color: #149173;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center  p {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.center ul{
    font-size: 28px;
}

.center li{
    
    margin-bottom: 20px;
}

.center em{
    color: red;
}

select{
    font-size: 28px;
}

input{
    font-size: 28px;
    border-radius: 4px;
}

.send{
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 20%;
}

.send:hover{
    background-color:#EBF38B;
    color: white;
}